@page {
    size: auto;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

#print_box {
    margin: 0 auto;
    width: 210mm;
    min-height: 297mm;
    max-width: 210mm;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
    page-break-after: always;
    overflow: hidden;
    /* background-color: #fff; */
}

body.landscape #print_box {
    width: 297mm;
    min-height: 210mm;
    max-width: 297mm;
    background-color: rgba(0,0,0,0.3);
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.item_img1, .item_img2, .item_img3, .item_img4 {
    box-sizing: border-box;
    margin: 4mm;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.portrait .item_img1, body.portrait .item_img2 {
    max-width: calc(50% - 8mm);
    height: 120mm;
}
body.landscape .item_img1, body.landscape .item_img2, body.landscape .item_img3, body.landscape .item_img4 {
    max-width: calc(25% - 8mm);
    height: 80mm;
}

.image_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
    page-break-inside: avoid;
    display: block;
}

@media print {
    body {
        background: #fff !important;
    }
    #print_btn {
        display: none !important;
    }
    #print_box {
        margin: 0 auto;
        page-break-after: always;
        overflow: hidden;
    }
    body.portrait #print_box {
        width: 210mm !important;
        min-height: 297mm !important;
        max-width: 210mm !important;
    }
    body.landscape #print_box {
        width: 297mm !important;
        min-height: 210mm !important;
        max-width: 297mm !important;
    }
    @page {
        size: A4;
        margin: 0;
    }
}
