body {

    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*img {
  visibility: hidden;
}*/
#app {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: lightcyan;
    /*visibility: hidden;*/
}

#trans{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: hsla(0,0%,13%,0.9);
    line-height: 100vh;
    font-size: 40px;
    visibility: hidden;
    z-index: 900;
    text-align: center;
}

#layout_direction{
    margin-left: 15px;
}
#all{
  position: absolute;
  width: calc(100% - 270px);  
  height: 95vh;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

#print_box{
  position: absolute;
  width: 70%;
  left: 25%;  
  /* height: 842px; 
    overflow: hidden; */
  
}



#title{
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
/*    height: 13vh;*/
    height: 21mm;
}

#title_text {
    text-align: center;
    width: 100%;
    margin: 0;
    /*padding-top: 10px;*/
}

#subTitle {
    text-align: center;
    width: 100%;
    margin: 0;
}


#setText {
    position: relative;
    font-size: 14px;
    width: 255px;
    left: 15px;
    color: #9699a6;

}

#content_all{
    position: absolute;
    width: 100%;  
    top: 0;
    left: 0%;
    display: flex;
    flex-direction: column;
}
#content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    top: 0;
    left: 0%;
    
}


#setting {
    position: absolute;
    width: 270px;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    border: 2px solid #797e93;
}

#print_title {
    position: relative;
    width: 255px;
    font-size: 15px;
    left: 15px;
    color: rgb(33 33 33 / 90%);
    margin-bottom: 10px;

}

#print_title2 {
    position: relative;
    width: 255px;
    font-size: 15px;
    left: 15px;
    color: rgb(33 33 33 / 90%);
    margin-bottom: 10px;

}

#print_title_input {
    position: relative;
    width: 240px;
    font-size: 16px;
    left: 15px;
    margin-bottom: 10px;

}

#print_title_input2 {
    position: relative;
    width: 240px;
    font-size: 16px;
    left: 15px;
    margin-bottom: 10px;

}

#info {
    position: relative;
    width: 240px;
    font-size: 15px;
    color: rgb(33 33 33 / 90%);
    left: 15px;
}


#column_num{
    position: relative;
    width: 240px;
    font-size: 15px;
    color: rgb(33 33 33 / 90%);
    left: 15px;
}

#column_box{
    width: 100%;
    height: 40px;
    display: flex;
    line-height: 40px;
    color: rgb(33 33 33 / 90%);
    text-align: center;
    /*background-color: grey;*/
}

.column_box_item{
    width: 25%;
    /*background-color: grey;*/
    
    border-radius: 2px;
    cursor: pointer;
}

#column_num1{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

#column_num2{
    border-top: 1px solid grey;
    
    border-bottom: 1px solid grey;
}

#column_num3{
    border-top: 1px solid grey;
    
    border-bottom: 1px solid grey;
}

#column_num4{
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

#all_item {
    position: relative;
    width: 240px;
    /*height: 60vh;*/
    font-size: 14px;
    left: 15px;
    display: flex;
    /*overflow-y: scroll;*/
    flex-direction: column;
}

.checkbox_css {
    transform: scale(1.2); /* 放大checkbox到120% */
}

label{
    color: rgb(33 33 33 / 90%);
    margin-left: 10px;
}
input[type=text] {
    /*width: 100%;*/
    padding: 4px 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*#6e6f8f*/

.item_img1 {
    position: relative;
    width: 96%;
    height: 82mm;
    
    margin-left: 2%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}
.item_img1_v {
    position: relative;
    width: 96%;
    height: 92mm;   
    margin-left: 2%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}

.item_img2 {
    position: relative;
    width: 41%;
/*    height: 35vh;*/
    height: 82mm;
    margin-left: 1%;
    left: 7%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}
.item_img2_v {
    position: relative;
    width: 48%;
/*    height: 35vh;*/
    height: 92mm;
    margin-left: 1%;
    left: 2%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}
.hiddenTitle{
/*    display: none;*/
    position: relative;
    width: 100%;
    text-align: center;
}
.title{
    position: relative;
    top: 0;
    width: 100%;
    display: none;
    justify-content: space-around;
    flex-direction: column;
/*    height: 13vh;*/
    height: 21mm;
    text-align: center;
    margin-top: 20mm;
}

.title_text {
   
    width: 100%;
    margin: 0;
    /*padding-top: 10px;*/
}

.subTitle {
    
    width: 100%;
    margin: 0;
}



.item_img3 {
    position: relative;
    width: 31%;
    height: 82mm;

    margin-left: 1.3%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}

.item_img3_v {
    position: relative;
    width: 31%;
    height: 92mm;

    margin-left: 1.3%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}


.item_img4 {
    position: relative;
    width: 24%;
    height: 82mm;
    margin-left: 0.8%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}

.item_img4_v {
    position: relative;
    width: 24%;
    height: 92mm;
    margin-left: 0.8%;
    margin-bottom: 0.7vw;
    border: 1px solid black;
    border-radius: 6px;

}

.image_box {
    position: absolute;
    height: calc(100% - 10px);
    width: 70%;
    top: 5px;
    left: 5px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    /*transform: translateX(-50%);*/


}

.image_box_right{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 5px;
    right: 0;
    overflow: hidden;
    font-size: 12px;

}
.right_text_box{
    position: relative;
    width: 100%;
    height: fit-content;
    left: 0;
    border-bottom: 1px solid gainsboro;
}

.right_text_content{
    position: relative;
    width: calc(100% - 20px);
    text-align: left;
    left: 10px;
    color: black;
    margin: 0;
    padding-bottom: 4px;
}


.image{
    position: absolute;
    /*height: 100%;*/
    left: 50%;
    /*top:50%;*/
    transform: translateX(-50%);
    

}

.item_column{
    margin-left: 10px;
    margin-bottom: 10px;
}

#pdf_btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5);
    visibility: hidden;
}

#loader img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

}

#loader_cont {
    position: absolute;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid lightgray;
    left: 45%;
    top: 45%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.not_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#customTooltip {
    display: none;
    position: absolute;
    right: 0;
    top: -35px;
    background-color:#fff ; /* 背景顏色 */
    color: #333; /* 文字顏色 */
    padding: 5px;
    border-radius: 5px;
    font-size: 14px; /* 字大小 */
    white-space: nowrap;
    pointer-events: none; /* 確保工具提示不會阻擋鼠標事件 */
    border: 2px solid grey;
}




.gg-info {
    box-sizing: border-box;
    position: absolute;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 1px solid;
    border-radius: 40px;
    right: 0;
    top: 0;
}

.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 6px
}

.gg-info::after {
    bottom: 2px;
    height: 7px
}

.gg-info::before {
    height: 2px;
    top: 2px
}

@page {
    size: A4;
    margin: 0;
}
.page {
    page-break-after: always;
    overflow-y: scroll;
}

.print-content2{
    position: absolute;
    width: 210mm; /* A4 紙張的寬度 */
    height: 297mm; /* A4 紙張的高度 */
    margin: 0 auto; /* 居中對齊 */
    padding: 0 10mm; /* 邊距 */
}

.print-content {
    position: absolute;
    width: 297mm; /* A4 紙張的寬度 */
    height: 210mm; /* A4 紙張的高度 */
    margin: 0 auto; /* 居中對齊 */
    padding: 0 10mm; /* 邊距 */
}

.print-content-vertical {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    padding: 0 10mm;
    page-break-after: always;
    box-sizing: border-box;
    background: #fff;
}

@media print {
    @page {
        size: A4 landscape; /* 指定 A4 紙張的橫印方向 */
        margin: 0; /* 邊距 */
    }
    .print-content {
        width: 297mm; /* A4 紙張的寬度 */
        height: 210mm; /* A4 紙張的高度 */
        margin: 0 ; /* 邊距 */
        margin-top: 6mm;
        padding: 0 ; /* 內邊距 */
        box-sizing: border-box; /* 確保 padding 和 border 不會增加元素的寬度和高度 */
         -webkit-print-color-adjust: exact; /* 兼容性：強制打印背景顏色 */
        color-adjust: exact; /* 兼容性：強制打印背景顏色 */
    }
    .print-content-vertical {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
    }
    /*@page {
        margin: 0; /* 移除頁面邊界 */
    }*/

    /* 移除頁數 */
    body {
        counter-reset: page; /* 重置頁數計數器 */
    }

    /* 移除頁數的顯示 */
    .page::after {
        content: ""; /* 移除頁數的顯示 */
    }

}
